/*Formatação geral */

#menus {
    display: flex;
    padding-bottom: 20px;

}

div {
    justify-content: space-around;
}


h4 {
    font-family: arial;
    font-size: 14px;
    font-weight: bold;
    border-left: 4px solid black;
    border-bottom: 2px solid black;
    padding: 5px;
}

/*Formatando os itens da barra de navegação do modelo 01*/

.modelo01 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    list-style-type: none;
}

.modelo01 li a {
    display: flex;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}


.modelo01 li a:hover {
    background-color: #121111;
    color: white;
}



/*Formatando os itens da barra de navegação do modelo 02*/


.modelo02 ul {
    background-color: rgb(65, 61, 61);
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    list-style-type: none;

}

.modelo02 li a {

    display: flex;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    border-bottom: 2px solid rgb(151, 148, 148);
    border-left: solid 10px black;

}

.modelo02 li a:hover {
    background-color: #121111;
    border-left: solid 10px gainsboro;

}


/*Formatando os itens da barra de navegação do modelo 03*/

.modelo03 ul {

    background-color: white;
    color: black;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    list-style-type: none;
}

.modelo03 li a {

    display: flex;
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    border-bottom: 2px solid rgb(151, 148, 148);
    border-left: solid 10px rgb(8, 8, 95);
}

.modelo03 li a:hover {
    background-color: #6058c8;
    color: white;
    text-align: right;
    justify-content: right;
    border-right: solid 10px #0e0581;
    border-left: solid 10px white;

}

/*Formatando os itens da barra de navegação do modelo 04*/

.modelo04 ul {

    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    list-style-type: none;




}

.modelo04 li a {
    background-color: #ab08ac;
    display: flex;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    border-bottom: 2px dotted #290127;
    border-left: solid 10px #290127;
    border-right: solid 10px #e75fe7;
    border-radius: 20px;

}


.modelo04 li a:hover {
    background-color: #e75fe7;
    color: black;
    border-right: solid #290127 8px;
    border-radius: 0px 20px 0px 20px;
    border-left: 0px;


}


/*Formatando os itens da barra de navegação do modelo 05*/

.modelo05 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #aa8ce1;
    list-style-type: none;
}

.modelo05 li a {
    display: flex;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    border-bottom: 2px dashed white; 
    
}


.modelo05 li a:hover {
    background-color: white;
    color: #aa8ce1;
    justify-content: center;
    transition: 0.5s; 
    
}

p